@{

}

        <footer id="footer">
            <div class="footer1">
                <div class="container">
                    <div class="row">

                        <div class="col-md-3 widget">
                            <h3 class="widget-title">Contact</h3>
                            <div class="widget-body">
                                <p>
                                    +55 21 96511-9956<br>
                                    <a href="mailto:#">carlosrbatista1980@gmail.com</a><br>
                                    <br>
                                    Rio de Janeiro - Brasil
                                </p>
                                <p class="simplenav">
                                    <a asp-controller="Home" asp-action="Index">Home</a> |
                                    <a asp-controller="Home" asp-action="Privacy">Privacy</a> |
                                    <!--<a href="sidebar-right.html">Sidebar</a> |-->
                                    <a asp-controller="Download" asp-action="Download">Download</a> |
                                    <b><a asp-controller="Login" asp-action="Register">REGISTER</a></b>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-3 widget">
                            <h3 class="widget-title">Follow me</h3>
                            <div class="widget-body">
                                <p class="follow-me-icons clearfix">
                                    <a href="https://www.linkedin.com/in/carlos-rodrigues-batista-8a367775/"><i class="fab fa-linkedin"></i></a>
                                    <a href="https://github.com/carlosrbatista1980/RappelzWebSite"><i class="fab fa-github"></i></a>
                                    <a href="mailto:carlosrbatista1980@gmail.com"><i class="fab fa-google"></i></a>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6 widget">
                            <h3 class="widget-title">Widget</h3>
                            <div class="widget-body">
                                <p>
                                    My special thanks to a very special person who makes me follow the path of knowledge and dedication to what we believe and what is the best for us no matter how long it takes, Talita Tassila.
                                </p>
                                <p>
                                    <b>Cheers, hold your mug of ale and lets drink together.</b>
                                </p>
                                <p class="text-left">
                                    Carlos 2020, You can do anything but, keep the credits on metadata or visit <a href="https://www.linkedin.com/in/carlos-rodrigues-batista-8a367775/" rel="designer">LinkedIn</a> and say hello.
                                </p>
                            </div>
                        </div>

                    </div> <!-- /row of widgets -->
                </div>
            </div>
        </footer>


@*
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - RappelzWebSite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
    
*@