@{

}
<!-- Sidebar -->
<aside class="col-sm-4 sidebar sidebar-right">

    <div class="widget">
        <h4>SIDE BAR TITLE</h4>
        <ul class="list-unstyled list-spaces">
            <li>
                <a href="">Link for contact 1</a><br><span class="small text-muted">place contacts or marketing here</span>
            </li>
            <li>
                <a href="">Link for contact 2</a><br><span class="small text-muted">place contacts or marketing here</span>
            </li>
            <li>
                <a href="">Link for contact 3</a><br><span class="small text-muted">place contacts or marketing here</span>
            </li>
            <li>
                <a href="">Link for contact 4</a><br><span class="small text-muted">place contacts or marketing here</span>
            </li>
            <li>
                <a href="">Link for contact 5</a><br><span class="small text-muted">place contacts or marketing here</span>
            </li>
        </ul>
    </div>

</aside>
<!-- /Sidebar -->