@model RappelzWebSite.Models.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
}

<!-- container -->
<div class="container">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
    <div class="row">
        
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="thin text-center">Login to your account</h3>
                    <p class="text-center text-muted">If forgot your password it can be sent to your email
                    <hr>
                    <form asp-action="ForgotPassword">
                        <div class="top-margin">
                            <label><i class="fas fa-mail-bulk"></i> Email <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" asp-for="PasswordForgottenEmail">
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4 text-right">
                                <input type="datetime" class="form-control hidden" hidden="true" asp-for="PasswordForgottenRequesTime">
                                <input type="text" class="form-control hidden" hidden="true" asp-for="PasswordForgottenResponse">
                                <button class="btn btn-action align-self-center" type="submit">Recover Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>	<!-- /container -->
