
@{
    ViewData["Title"] = "TermsAndConditions";
}

<!-- container -->
<div class="container">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
    <div class="row">

        <!-- Article main content -->
        <article class="col-sm-8 maincontent">
            <header class="page-header">
                <h1 class="page-title">@ViewData["Title"]</h1>
            </header>
            <h3>Rappelz</h3>
            <p>
                <!-- <img src="~/images/about_art.jpg" alt="" class="img-rounded pull-right" width="300"> -->
                Rappelz is a free-to-play massively multiplayer online role-playing game. The game is developed by the Korean company Gala Lab, formerly nFlavor. It is published in Europe and North America by Webzen, Inc. in English, French, German, Italian, Polish
            </p>
            <p>
                I played this game for a few years before I started programming
                and I made a lot of friends on that occasion, some in united states, some in germany and great britain where i learned english.
            </p>
            <h3>TITTLE 2</h3>
            <p>
                you can made some changes in this layout if you want.
            </p>
            <h3>TITLE 3</h3>
            <p>
                My job is build this project for you who dont know anything or a little about programming
                if you want a website to learn programming or for you to make something else with database
                connection and some other features this project will help.
            </p>
            <h3>Cravo</h3>
            <p>
                <b>Portuguese text: about anything</b><br />
                É uma planta exótica, muito mencionada na mitologia grega e na romana.
                Recebe, em Roma, o nome de “Flor de Júpiter“, por apresentar características similares ao deus Jupiter
                que representa o mesmo que Zeus para os gregos. De extrema beleza e de cores muito variadas, essa flor apresenta
                abundância de pétalas e também um caule retilíneo muito verde, cilíndrico e tubular de lindíssima ramificação.
                Seu tamanho varia de acordo com a espécie, podendo chegar até 1 (um) metro de altura.
                É também um excelente pesticida, pois seu perfume forte e característico não é tolerado pela maioria dos insetos.
                para as pessoas do signo de sagitário, recomenda-se usar buques de flores da familia dos cravos, trazendo harmonia ao casamento
                e a familia.
            </p>
            <p>

            </p>

        </article>
        <!-- /Article -->
    </div>
</div>	<!-- /container -->